div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row
      .col-md-6
        h2 こころ&nbsp;を&nbsp;こめて
        p 「こめてる」は電話１本でお米を注文できるサービスです。
        img(src='assets/images/kometel.jpg', alt='logo of kometel' style="width:40%; border-radius: 20px; margin:20px;")
      .col-md-6
        br
        button.btn.btn-lg.btn-danger
          i.fa.fa-heart.fa-fw
          | &nbsp;売りたい方はこちら
        br
        br
        button.btn.btn-lg.btn-danger
          i.fa.fa-heart.fa-fw
          | &nbsp;買いたい方はこちら
        br
        p ※ 鋭意開発中



footer.footer
  .container
    p
      | presented by kometel.com
